<div class="container">
   <!-- 検索欄 -->
   <div style="background-color: lightgrey" class="container my-5 border border-light rounded">
    <form class="m-3">
        <legend>検索</legend>
        <div class="mb-3">
          <label for="disabledTextInput" class="form-label">企業コード</label>
          <input type="text" id="disabledTextInput" class="form-control" placeholder="企業コード（任意）">
        </div>
        <div class="mb-3">
          <label for="disabledSelect" class="form-label">カテゴリ</label>
          <select id="disabledSelect" class="form-select">
            <option value="01">1</option>
            <option value="02">2</option>
            <option value="03">3</option>
            <option value="04">4</option>



          </select>
        </div>

        <button type="submit" class="btn btn-primary">検索</button>
    </form>
   </div>


  <!-- 記事の一覧表示 -->
  <h1>記事一覧</h1>
<% @releases.each do |r|%>


  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <a href="result" class="card">
        <img src="https://prtimes.jp/i/30680/107/origin/d30680-107-210258-0.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">健康経営”を最小限の投資で。完全リモート制ウェルネスクラブ『BRST』を福利厚生サービスPerkにて提供開始</h5>
        </div>
      </a>
    </div>
  </div>
<% end %>
</div>
